{% extends 'base_list.html' %}

{% block pre_content %}
    <h2>Reviews of the seller: <a href="{% url 'profiles:user-detail' seller.pk %}">{{ seller.username }}</a></h2>

    {% if seller_average_rating != -1 %}
        <h5>Media valutazioni: {{ seller_average_rating }}/5</h5>
    {% else %}
        <h5>No reviews yet!</h5>
    {% endif %}
{% endblock %}

{% block tbody %}
    {% for object in object_list %}
        <div class="card mb-3">
            <div class="card-body">
                <div class="text-end">
                    <p class="card-text">{{ object.review_seller_rating }}/5</p>
                </div>
                <h5 class="card-title">{{ object.review_title }}</h5>
                <p class="card-text">{{ object.review_content }}</p>
                <p class="card-text"><small class="text-muted">By: <a href="{% url 'profiles:user-detail' object.review_author.pk %}">{{ object.review_author }}</a></small></p>
                {% if user == object.review_author %}
                    <a href="{% url 'reviews:review-update' object.pk %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'reviews:review-delete' object.pk %}" class="btn btn-primary">Delete</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}