{% extends 'base_list.html' %}
{% load is_owner_filter %}
{% load check_wishlist %}

{% block list_title %}
    Watches
{% endblock %}

{% block content_title %}
    Watches
{% endblock %}

{% block pre_content %}
    <form method="get" action="{% url 'watches:sale_announcement_search_list' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-10 mb-3">
                <div class="input-group" >
                    <input type="text" class="form-control" aria-label="Text input with dropdown button" id="query" placeholder="Watch brand" name="query-brand"
                            {% if query_brand %}
                           value="{{ query_brand }}"
                            {% endif %}
                    >
                    <input type="text" class="form-control" aria-label="Text input with dropdown button" id="query" placeholder="Watch model" name="query-model"
                            {% if query_model %}
                           value="{{ query_model }}"
                            {% endif %}
                    >
                    <button type="button" class="btn btn-outline-secondary" aria-label="Left Align" id="drop-avanzate">
                        <i class="fa fa-cog"></i>
                    </button>
                    <div class="input-group-append">
                        <button class="btn btn-primary"  type="submit" value="Submit" >Cerca</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="input-group">
                    <label>Order by:</label>
                    <select name="order-by" class="custom-select">
                        <option value="p-asc">Price asc</option>
                        <option value="p-desc">Price desc</option>
                        <option value="date-asc">Date asc</option>
                        <option value="date-desc">Date desc</option>
                        <option value="year-asc">Year asc</option>
                        <option value="year-desc">Year desc</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="avanzate">
            <div class="col-md-12">
                <div class="input-group mb-5" >
                    <input class="form-control" placeholder="Ref number" type="text" name="ref-number" min="0"
                            {% if query_reference %}
                           value="{{ query_reference }}"
                            {% endif %}
                    >
                    <input class="form-control" placeholder="Min price" type="number" name="start-price" min="0"
                            {% if min_price %}
                           value="{{ min_price }}"
                            {% endif %}
                    >
                    <input class="form-control" placeholder="Max price" type="number" name="end-price" min="0"
                            {% if max_price %}
                           value="{{ max_price }}"
                            {% endif %}
                    >
                    <input class="form-control" placeholder="Min year of production" type="number" name="start-year" min="0"
                            {% if min_year %}
                           value="{{ min_year }}"
                            {% endif %}
                    >
                    <input class="form-control" placeholder="Max year of production" type="number" name="end-year" min="0"
                            {% if max_year %}
                           value="{{ max_year }}"
                            {% endif %}
                    >
                    <input class="form-control" placeholder="Min case size" type="number" name="start-case-size" min="0"
                            {% if min_case_size %}
                           value="{{ min_case_size }}"
                            {% endif %}
                    >
                    <input class="form-control" placeholder="Max case size" type="number" name="end-case-size" min="0"
                            {% if max_case_size %}
                           value="{{ max_case_size }}"
                            {% endif %}>
                    <select name="case-material" class="custom-select">
                        <option value="">Select case material</option>
                        <option value="STAINLESS_STEEL">Stainless Steel</option>
                        <option value="WHITE_GOLD">White Gold</option>
                        <option value="YELLOW_GOLD">Yellow Gold</option>
                        <option value="ROSE_GOLD">Rose Gold</option>
                        <option value="PLATINUM">Platinum</option>
                        <option value="TITANIUM">Titanium</option>
                        <option value="ALTRO">Altro</option>
                    </select>
                    <select name="bracelet-material" class="custom-select">
                        <option value="">Select bracelet material</option>
                        <option value="STAINLESS_STEEL">Stainless Steel</option>
                        <option value="WHITE_GOLD">White Gold</option>
                        <option value="YELLOW_GOLD">Yellow Gold</option>
                        <option value="ROSE_GOLD">Rose Gold</option>
                        <option value="PLATINUM">Platinum</option>
                        <option value="TITANIUM">Titanium</option>
                        <option value="LEATHER">Leather</option>
                        <option value="RUBBER">Rubber</option>
                        <option value="ALTRO">Altro</option>
                    </select>
                    <select name="conditions" class="custom-select">
                        <option value="">Select watch conditions</option>
                        <option value="NEW_NEVER_WORN">New/Never worn</option>
                        <option value="VERY_GOOD">Very Good</option>
                        <option value="GOOD">Good</option>
                        <option value="POOR">Poor</option>
                        <option value="NOT_WORKING">Not working</option>
                    </select>
                </div>
            </div>
        </div>

    </form>
{% endblock %}

{% block tbody %}
    <div class="row">
        {% for object in object_list %}
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ object.watch_photos.url }}" class="card-img-top" alt="{{ object.watch_brand }} {{ object.watch_model }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.watch_brand }} {{ object.watch_model }}</h5>
                        <p class="card-text">{{ object.watch_price }}€</p>
                        {% if object.is_bought %}
                            <p class="card-text">Watch has already been sold!</p>
                        {% endif %}
                        <a href="{% url 'watches:sale_announcement_detail' object.pk %}" class="btn btn-primary">See more</a>
                        {% if user|is_owner:object %}
                            {% if not object.is_bought %}
                                <a href="{% url 'watches:sale_announcement_update' object.pk %}" class="btn btn-primary">Edit</a>
                            {% endif %}
                            <a href="{% url 'watches:sale_announcement_delete' object.pk %}" class="btn btn-primary">Delete</a>
                        {% else %}
                            {% if user.is_authenticated and not object.is_bought %}
                                {% if not user|is_in_wishlist:object %}
                                    <a href="{% url 'wishlist:wishlist-add' object.pk %}" class="btn btn-primary">Add to wishlist</a>
                                {% else %}
                                    <a href="{% url 'wishlist:wishlist-remove' object.pk %}" class="btn btn-primary">Remove from wishlist</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block script %}
    <script>
        {# queste cose vanno fatte solo nella view di ricerca #}
        {% if is_search %}
            {# aggiungo il link alla pagina che deve essere visualizzata #}
            links = document.getElementsByClassName("page-link")
            for (var i = 0; i < links.length; i++) {
                if(links[i].id != "actual-page-link"){
                    links[i].href += "&query-brand={% if query_brand %}{{ query_brand }}{% endif %}"
                    links[i].href += "&query-model={% if query_model %}{{ query_model }}{% endif %}"
                    links[i].href += "&order-by={{ sorting_type }}"
                    links[i].href += "&ref-number={% if query_reference %}{{ query_reference }}{% endif %}"
                    links[i].href += "&start-price={{ min_price }}"
                    links[i].href += "&end-price={{ max_price }}"
                    links[i].href += "&start-year={{ min_year }}"
                    links[i].href += "&end-year={{ max_year }}"
                    links[i].href += "&start-case-size={{ min_case_size }}"
                    links[i].href += "&end-case-size={{ max_case_size }}"
                    links[i].href += "&case-material={% if case_material %}{{ case_material }}{% endif %}"
                    links[i].href += "&bracelet-material={% if bracelet_material %}{{ bracelet_material }}{% endif %}"
                    links[i].href += "&conditions={% if conditions %}{{ conditions }}{% endif %}"

                }
            }
        {% endif %}
    </script>
{% endblock %}