{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Login to Watch Market
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }} <!-- trasforma tutto in html con i campi che gli ho dato nella classe -->
        <input type="submit" value="Login">
    </form>
{% endblock %}