{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <h1>Register to WatchMarket</h1>
    {% crispy form %}
    <a class="btn" href="{% url 'home' %}">Cancel</a>
{% endblock %}