{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    New watch announcement
{% endblock %}

{% block content %}
    <h1>Insert sale announcement</h1>
    {% crispy form %}
    <a href="{% url 'watches:my_sale_announcement_list' %}">Cancel</a>
{% endblock %}