{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Watch Announcement: Update
{% endblock %}

{% block content %}
    <h1>Watch Announcement Update</h1>
    {% crispy form %}
    <a href="{% url 'watches:my_sale_announcement_list' %}">Cancel</a>
{% endblock %}