{% extends 'base.html' %}

{% block title %}
    Purchase success page
{% endblock %}

{% block content %}
    <p class="lead">
        Your {{ object.watch_brand }} {{ object.watch_model }} is on the way!
    </p>
    <p class="lead">
        You should have received a confirmation email. Check your inbox.
    </p>
    <a href="{% url 'reviews:leave-review' object.watch_seller.pk %}">Write a review of the seller</a>

{% endblock %}